<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>金指投2.1.1发布.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>金指投2.1.1测试.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>金指投发布.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>金指投测试.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4542881D1C448FE000513DC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45DEACE71B437879001EDA5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45EE821A1C5F341400EA3F0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45EE840A1C5F36B900EA3F0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
